.app-container{
    background-color: lightcyan;
}
.form-card{
    flex-wrap: wrap;
    width: 80%;
    padding-bottom: 20px;
    display: flexbox;
    position: relative;

}
.message-card{
    flex-wrap: wrap;
    position: relative;
    width: 80%;
    padding-bottom: 20px;
    padding-top: 5px;
}
.new-form{
    height: fit-content;
}
.add-button{
    border-radius: 30px;
}
.name-post{
    display: inline-flex;
}
.add-form-name{
    flex-wrap: wrap;
    width:500px;
}
.add-form-message{
    width:500px;
    display: flex;
    margin-top: auto;
}
.button-space{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.post{
   position: relative;
   flex-wrap: wrap;

}
.thumbs{
    text-align: end;
    padding-left: 5px;
    padding-right: 5px;

}
.nav{
    background-color: lightseagreen;
}
.nav-button{
    outline: 1px solid ghostwhite;
}
